---
title: LBOP
---

<header id="header" class="container-fluid">
  
  <a href="#"><%= image_tag 'logo.png', :class => "img-fluid", :id => "maing-logo" %></a>
  
  <div id="left-menu-cont">
    <ul>
      <li>
        <div class="left-menu-image">
          <%= image_tag 'menu-home.png', :class => "", :id => "" %>
          <div class="left-menu-pop">
            <a href="#"><h5>Home</h5></a>
          </div>
        </div>
      </li>
            <li>
        <div class="left-menu-image">
          <%= image_tag 'menu-phone.png', :class => "", :id => "" %>
          <div class="left-menu-pop">
            <a href=""><h5>(123) 456-789</h5></a>
          </div>
        </div>
      </li>
            <li>
        <div class="left-menu-image">
          <%= image_tag 'menu-mail.png', :class => "", :id => "" %>
          <div class="left-menu-pop">
            <a href="mailto:lbo@lbo.com?subject=Contact Me" "Contact"><h5>lbo@lbo.com</h5></a>
          </div>
        </div>
      </li>
            <li>
        <div class="left-menu-image">
          <%= image_tag 'menu-fax.png', :class => "", :id => "" %>
          <div class="left-menu-pop">
            <a href=""><h5>(123) 456-789</h5></a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="burger-container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <p class="burger-caption change">Menú</p>
    <p class="burger-caption">Cerrar</p>
  </div>

  <div class="burger-items">
    <ul>
      <a href=""><li>NOSOTROS</li></a>
      <a href=""><li>ÁREAS PRÁCTICAS</li></a>
      <a href=""><li>PARTNERS</li></a>
      <a href=""><li>PUBLICACIONES</li></a>
      <a href=""><li>CONTÁCTENOS</li></a>
    </ul>
    <p>P.O. Box 25522 EPS<br>A-303 Miami</p>
  </div>


  <h1>LAWYER | BUSINESS<br>OUTSOURCING</h1>

</header>